body {
    overflow-x: hidden;
    font-family: '微软雅黑';
}

header {
    width: 100%;
    height: 115px;
    background: #FFF;
}

.container {
    width: 1200px;
    padding: 35px 0;
    margin: 0 auto;
}

.logo {
    height: 46px;
    float: left;
}

.nav {
    height: 46px;
    float: right;
}

.nav li {
    float: left;
    line-height: 46px;
    margin-left: 50px;
}

.nav li a {
    display: block;
    color: #323232;
    font-size: 18px;
    text-decoration: none;
}

.nav .active a {
    color: #FE7E17;
}

.banner {
    width: 1920px;
    height: 1080px;
    margin: 0 auto;
    background: #ccc;
}

.about {
    width: 1200px;
    margin: 85px auto;
}

.about .title {
    width: 220px;
    margin: 0 auto;
    text-align: center;
}

.about .title h2 {
    font-weight: normal;
    color: #404040;
    font-size: 48px;
    margin-bottom: 20px;
}

.about .title span {
    font-size: 15px;
    font-weight: bold;
    color: #767575;
}

.about .content {
    margin-top: 80px;
}

.about .picture {
    height: 500px;
    width: 750px;
    float: left;
    background: #ccc;
}

.about .textinfo {
    width: 425px;
    float: right;
}

.about .textinfo h3 {
    margin-top: 38px;
    margin-bottom: 50px;
    font-size: 32px;
    text-align: right;
    color: #404040;
    font-weight: normal;
}

.about .text {
    font-size: 16px;
}

.about .text p {
    text-indent: 2em;
    line-height: 1.5em;
    margin-top: 20px;
    color: #404040;
    letter-spacing: 1.5px;
    word-spacing: 8px;
}

.ad-1 {
    margin-bottom: 80px;
    width: 1920px;
    height: 458px;
    background-image: url(../img/ad_1.jpg);
}

.news,
.team {
    width: 1200px;
    margin: 0 auto;
}

.news .title,
.team .title {
    position: relative;
    width: 660px;
    height: 80px;
    margin: 0 auto;
    text-align: center;
}

.news .title h2,
.team .title h2 {
    font-size: 48px;
    color: #404040;
    font-weight: normal;
    margin-bottom: 16px;
}

.news .title span,
.team .title span {
    font-size: 16px;
    color: #404040;
}

.news .line,
.team .line {
    position: absolute;
    width: 132px;
    height: 2px;
    top: 40px;
    background: #F39800;
}

.news .title .left,
.team .title .left {
    left: 0px;
}

.news .title .right,
.team .title .right {
    right: 0px;
}

.news .list {
    margin: 30px -18px;
}

.news .list li {
    margin: 18px;
    width: 376px;
    height: 222px;
    float: left;
    background: #eee;
}

.team .list {
    margin: 30px -18px;
}

.team .list li {
    margin: 6px 18px;
    width: 376px;
    height: 222px;
    float: left;
    background: #eee;
}